.user-list {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.user-list h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tr:hover {
    background-color: #f9f9f9;
}

button {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px; /* Увеличенный отступ между кнопками */
}

button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    margin-right: 0; /* Убедитесь, что кнопка delete не имеет отступа справа */
}

.delete-button:hover {
    background-color: #c82333;
}
